*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.div1{
    
    display: flex;
    height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
   font-size: 2rem;
   box-sizing: content-box;
   font-weight: 800;
  

   
}
.x{
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    background-color: #efefef;
    font-size: 1rem
    
    
    
}
.y{
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    background-color: #efefef;
    font-size: 1rem;
}
.div2{
 align-items: center;
 display: flex;
 justify-content: center;
 /* padding: 1rem;
 margin: 2rem 5rem; */
}
.buton{
    padding: 1rem 3rem;
    font-size: 30px;
    border-radius: 0.5rem;

}

.plus{
    margin: 1rem 3rem;
}

.equalto{
    margin: 1rem 3rem;
    /* background-color: #7ee18e; */
}
.result{
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    background-color: #b2edbc;
    font-size: 1rem;
}
input:hover{
    background-color: rgb(186, 186, 244);
    font-size: xx-large;
}
button:hover{
    /* padding: 2rem 5rem; */
    font-size: 60px;
}
